/*-------------------------------------------Default-------------------------------------------------*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    min-width: 300px;
    max-width: 1600px;
    scroll-behavior: smooth;
}
.mark{
    color: #F2A309;
}
/*---------------------------------------------------------------------------------------------------*/

/*--------------------------------------------Header-------------------------------------------------*/
header{
    width: 100vw;
    max-width: 100%;
    height: 70px;
    background-color: rgb(240, 240, 240);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    position: fixed;
    z-index: 2;
    border-bottom: 1px solid rgb(163, 163, 163);
}

.message{
    position: relative;
    top: 60%;
    width: 420px;
    background-color: rgba(9, 35, 46, 0.9);
    color: white;
    padding: 35px 20px;
    font-size: 25px;
}

.logo{
    width: 160px;
    height: 50px;
    background-image: url('./logo.png');
    background-position: center;
    background-size: 100% 100%;
}

.desktopMenu{
    display: flex;
}

header .desktopMenu a{
    list-style: none;
    text-decoration: none;
    color: rgb(2, 127, 243);
    border-bottom: 1px solid transparent;
}

header .desktopMenu a:hover{
    border-bottom: 1px solid rgb(2, 127, 243);
}

header .desktopMenu a:nth-of-type(1){
    margin-right: 20px;
}

header .desktopMenu a i{
    font-size: 14px;
}

.btnMenuMobile{
    display: none;
    font-size: 25px;
    cursor: pointer;
}

.btnMenuMobile:active{
    color: black;
}

.mobileMenu{
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed;
    right: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgb(12, 12, 12);
}

.mobileMenu a{
    color: white;
    list-style: none;
    text-decoration: none;
    text-transform: uppercase;
}

.mobileMenu a:nth-of-type(1){
    margin-bottom: 20px;
}

.closeMenuMobile{
    color: red;
    position: fixed;
    z-index: 1;
    top: 20px;
    right: 20px;
    font-size: 27px;
    display: none;
}
/*---------------------------------------------------------------------------------------------------*/

/*--------------------------------------------Banner-------------------------------------------------*/
.banner{
    width: 100vw;
    max-width: 100%;
    height: 100vh;
    background-image: url('./banner.png');
    background-position: center;
    background-size: 100% 100%;
}
.indicate{
    position: absolute;
    bottom: 10px;
    left: 50%;
    font-size: 40px;
    cursor: pointer;
    animation-name: upAndDown;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    color: black;
}
@keyframes upAndDown {
    0% {bottom: 0;}
    50% {bottom: 30px;}
    100% {bottom: 0;}
}
/*---------------------------------------------------------------------------------------------------*/

/*--------------------------------------------WhatWeOffer-------------------------------------------------*/
.WhatWeOffer{
    width: 100vw;
    max-width: 100%;
    height: 220px;
    background-color: #1D5E7A;
    display: flex;
    justify-content: center;
    align-items: center;
}
.offerSingle{
    width: 400px;
    margin: 10px;
    text-align: center;
    color: white;
}
.offerSingle h1{
    font-weight: lighter;
    margin-bottom: 20px;
    font-size: 25px;
    letter-spacing: 3px;
}
.offerSingle h1 i{
    font-size: 20px;
}
.offerSingle p{
    letter-spacing: 1px;
}
/*---------------------------------------------------------------------------------------------------*/

/*-------------------------------------------AboutUs-------------------------------------------------*/
.aboutUs{
    width: 100vw;
    max-width: 100%;
    height: 460px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about--text{
    width: 500px;
}

.about--text h1{
    font-weight: lighter;
    margin-bottom: 20px;
    color: #0C2C3F;
    font-size: 28px;
    letter-spacing: 3px;
}

.about--text p{
    color: #727272;
}

.about--image{
    width: 360px;
    height: 200px;
    background-image: url('./toys.png');
    background-position: center;
    background-size: 100% 100%;
}
/*---------------------------------------------------------------------------------------------------*/

/*-------------------------------------------infoSystem-------------------------------------------------*/
.infoSystem{
    width: 100vw;
    max-width: 100%;
    height: 200px;
    background-color: #1D5E7A;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.infoSingle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.infoSingle h1{
    font-weight: lighter;
    color: white;
    margin-bottom: 10px;
    font-size: 25px;
    letter-spacing: 3px;
}
.infoSingle h1 i{
    font-size: 20px;
    margin-right: 5px;
}
.infoSingle p{
    font-weight: lighter;
    color: white;
    font-size: 30px;
}
/*---------------------------------------------------------------------------------------------------*/

/*---------------------------------------------Info2------------------------------------------------*/
.boxInfo2{
    height: 400px;
    display: flex;   
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgb(196, 196, 196);
}
.image2{
    width: 350px;
    height: 250px;
    background-image: url('./image2.jpg');
    background-position: center;
    background-size: 100% 100%;
    margin-right: 40px;
    border: 1px solid rgb(155, 155, 155);
}
.info2{
    width: 50%;
}
.info2 h1{
    margin-bottom: 20px;
    font-weight: lighter;
    color: #0C2C3F;
    letter-spacing: 2px;
    font-size: 25px;
}

.info2 p{
    letter-spacing: 1px;
    color: #727272;
}
/*---------------------------------------------------------------------------------------------------*/

/*--------------------------------------------Footer-------------------------------------------------*/
.footerMenu{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footerInfo1{
    text-align: center;
}

.footerInfo1 p{
    color: #086C24;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 15px;
}

.footerInfo1 a{
    color: #0077ff;
    text-decoration: none;
    font-size: 16px;
}

.footerInfo1 a:hover{
    border-bottom: 1px solid #0077ff;
}

.footerInfo1 a:nth-of-type(1){
    margin-right: 10px;
}

.footer--logo{
    width: 250px;
    height: 80px;
    background-image: url('./logo.png');
    background-position: center;
    background-size: 100% 100%;
}

.footerInfo2{
    display: flex;
    flex-direction: column;
}

.footerInfo2 h1{
    font-weight: lighter;
    font-size: 17px;
    text-transform: uppercase;
    color: rgb(16, 23, 82);
    margin-bottom: 10px;
}

.footerInfo2 a{
    width: max-content;
    color: rgb(2, 127, 243);
    text-decoration: none;
    border-bottom: 1px solid transparent;
    margin-bottom: 5px;
}

.footerInfo2 a:hover{
    border-bottom: 1px solid rgb(2, 127, 243);
}

.footerInfo3 h1{
    font-weight: lighter;
    font-size: 17px;
    text-transform: uppercase;
    color: rgb(16, 23, 82);
    margin-bottom: 10px;
}

.footerInfo3 p{
    color: rgb(77, 77, 77);
    margin-bottom: 5px;
}

.footerImage{
    width: 350px;
    height: 250px;
    background-image: url('./toys.png');
    background-position: center;
    background-size: 100% 100%;
}
.copyright{
    text-align: center;
    padding: 15px;
    border-top: 1px solid rgb(177, 177, 177);
    color: #3b3b3b;
}
/*---------------------------------------------------------------------------------------------------*/

/*------------------------------------------Responsive-----------------------------------------------*/
@media screen and (max-width: 600px) {
    .desktopMenu{
        display: none;
    }
    .btnMenuMobile{
        display: block;
    }
    header{
        padding: 0 20px;
    }
}
/*---------------------------------------------------------------------------------------------------*/