.logoContract{
    display: none;
    width: 100%;
    height: 140px;
    text-align: center;
    border-bottom: 1px solid rgb(85, 85, 85);
    margin-bottom: 40px;
}

.logoContract img{
    width: 40%;
    height: 100%;
}

.contractSingle{
    padding: 60px;
    margin-bottom: 50px;
}

.box-mainTitle{
    text-align: center;
}

.box-mainTitle{
    text-align: center;
    font-size: 16px;
    margin-bottom: 20px;
    margin-top: 20px;
    font-weight: bold;
    text-transform: uppercase;
}

.introduction{
    margin-top: 30px;
    font-size: 16px;
    text-align: center;
}

.info_contractor{
    margin-top: 20px;
    text-align: left;
    font-size: 17px;
}

.line{
    margin-top: 10px;
}

.inputInfoHired{
    height: 100px !important;
    font-size: 14px !important;
}

.box-signature{
    display: flex;
}

.signature_hired{
    width: 50%;
    text-align: center;
}

.signature_contractor{
    width: 50%;
    text-align: center;
}

.inputPrice{
    height: 100px !important;
}

.date{
    margin: 60px 0;
    text-align: right;
    font-size: 23px;
}

.box-activeLogo{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.box-activeLogo p{
    margin-left: 5px;
}

@media screen and (max-width: 950px){
    .contractSingle *{
        font-size: 12px;
    }
    .toPrint *{
        font-size: 12px;
    }
}

@media screen and (max-width: 700px){
    .contractSingle *{
        font-size: 10px;
    }
    .toPrint *{
        font-size: 10px;
    }
    .contractSingle{
        padding: 5%;
    }
}

@media screen and (max-width: 550px){
    .contractSingle *{
        font-size: 7px;
    }
    .toPrint *{
        font-size: 7px;
    }
}

@media screen and (max-width: 400px){
    .contractSingle *{
        font-size: 5px;
    }
    .toPrint *{
        font-size: 5px;
    }
}